html
{
	background: url(background.png);
    background-size: cover;
    
}

header
{
    margin: 0 -600.5rem;
    background-color: #146ca4;
    position: relative;
    border-left: 600rem solid #146ca4;
    border-right: 600rem solid #146ca4;
}

nav
{
    color:black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    line-height: 1em;
    text-decoration: none;
    padding: 12px;
    display: block;

}
nav a
{
    margin-left: -5px;
    padding: 7px;
}
a
{
    text-decoration: none;
    color: black;
}
nav a:hover
{
    background-color: #034066;
    color:white;
}

body
{
	position: relative;
    overflow-x:hidden;
    margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}
h2
{
    margin-top: 0;
    color: #034066;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 64px;
}

img:hover
{
	max-height: 120px;
	max-width: 290px;
	margin-bottom: -20px;
}

main
{
	margin-left: 38px;
}

figure
{
	display: inline-block;
	margin-left: auto;
    margin-right:auto;
}

figcaption
{
	position: relative;
	left: 50px;
	bottom: 30px;
	padding-right: 20px;
	visibility: hidden;
	color: white;
	opacity: 0;
}

figure:hover figcaption:hover
{
	position: relative;
	left:65px;
	color: black;
}

figure.double_word:hover figcaption:hover
{
	position: relative;
	left:37px;
	color: black;
}

figure.double_word figcaption
{
	position: relative;
	bottom: 30px;
	padding-right: 20px;
	visibility: hidden;
	opacity: 0;
}

figure.double_word:hover figcaption
{
	left:50px;
	bottom: 5px;
	opacity: 1;
	visibility: visible;
}

figure.eiffel:hover figcaption
{
	position: relative;
	left:55px;
	bottom: 5px;
	opacity: 1;
	visibility: visible;
}

figure.eiffel:hover figcaption:hover
{
	position: relative;
	left:37px;
}

figure.sunset:hover figcaption
{
	position: relative;
	left:45px;
}

figure.sunset:hover figcaption:hover
{
	left:27px;
	bottom: 5px;
	opacity: 1;
	visibility: visible;
}

figure.arc figcaption
{
	left: 50px;
}

figure.arc:hover figcaption
{
	position: relative;
	left:33px;
}

figure.arc:hover figcaption:hover
{
	left:15px;
	bottom: 5px;
	opacity: 1;
	visibility: visible;
}

figure.champselisee:hover figcaption
{
	left: 65px;
}

figure.champselisee:hover figcaption:hover
{
	left: 50px;
}

figure.hotel:hover figcaption:hover
{
	position: relative;
	left: 13px;
}

figure.hotel:hover figcaption
{
	left: 27px;
}

figure.room:hover figcaption
{
	left: 50px;
}

figure.room:hover figcaption:hover
{
	left: 24.5px;
}

figure.view:hover figcaption 
{
	left: 32px;
}
figure.view figcaption:hover
{
	left:17px;
}

figure.restaurant:hover figcaption:hover
{
	left:30px;
}
figure.restaurant:hover figcaption
{
	left:45px;
}

figure.spa:hover figcaption:hover
{
	left:35px;
}
figure.spa:hover figcaption
{
	left:53px;
}
figure.bar:hover figcaption
{
	left: 42px;
}
figure.bar:hover figcaption:hover
{
	left: 28px;
}
figure.lobby:hover figcaption
{
	left: 55px;
}
figure.lobby:hover figcaption:hover
{
	left: 37px;
}

figure:hover figcaption
{
	left: 75px;
	bottom: 5px;
	opacity: 1;
	visibility: visible;
}

img
{
	border: 1px solid black;
	padding: 2px;
	max-height: 100px;
    max-width: 250px;
}

a.menuright
{
    padding: 12px;
    float:right;
    margin-top: -12px;
    margin-right: -5px;
}

button
{
	background-color: #146ca4;
	margin: 0;
	position: relative;
	left: 38%;
	border: 2px solid black;
	padding: 15px 32px;
	font-size: 16px;
	border-radius: 12px;
	font-family: 'Open Sans Condensed', sans-serif;
}

button:hover
{
	cursor: pointer;
	background-color: #034066;
	color: white;
}
