html
{
	background: url("main background.png");
	background-size: contain;
}

header
{
    margin: 0 -600.5rem;
    background-color: #146ca4;
    position: relative;
    border-left: 600rem solid #146ca4;
    border-right: 600rem solid #146ca4;
}

nav
{
    color:black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    line-height: 1em;
    text-decoration: none;
    padding: 12px;
    display: block;

}
nav a
{
    margin-left: -5px;
    padding: 7px;
}
a
{
    text-decoration: none;
    color: black;
}
img:hover
{
    background-color: white;
}
a:hover
{
    color:white;
    background-color: #034066;
}
body
{
    position: relative;
    overflow-x:hidden;
    margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}
h2
{
    margin-top: 0;
    color: #034066;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 64px;
}
p
{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 45em
}
img
{
    height: 500px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

h3
{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: #034066;
    font-size: 35px;
}

li a
{
    color:#034066; ;
}
li a:hover
{
    background-color: rgba(255, 255, 255, 0);
    color:#1fa6fa;
}

b
{
    color:#034066;
}
iframe
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

li
{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 45em
}

footer
{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 -600.5rem;
    background-color: #146ca4;
    position: relative;
    border-left: 600rem solid #146ca4;
    border-right: 600rem solid #146ca4;
    display: flex;
}

footer p
{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 10px;
    display: block;
}
footer a
{
    padding:16px
}
a.menuright
{
    padding: 12px;
    float:right;
    margin-top: -12px;
    margin-right: -5px;
}

a img
{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: inline-block;

}

a.img:hover
{
    background-color: #ffffff00;
}
